// variables
@import "colors";

$font_size      : 16px    ;
$esp_sep        : 3rem    ;
$color1         : $blue   ;
$color2         : white   ;
$color-fondo    : #555    ;

$borde-color    : $color2 ;
$borde-grozor   : 2px     ;

// importaciones
@import "buttons";
@import "clip-path";
@import "directions4";
@import "flexbox";
@import "font";
@import "list";
@import "titles";


// propiedades generales
body,html{
    font-size: $font_size;
    height: 100%;
    width: 100%;
}
